* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  list-style: none;
}

body {
  background-color: #000000;
  color: #000;
  font-family: "Staatliches", cursive;
}

.contenedor {
  width: 85%;
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}

.contenedor > div,
.contenedor .Menu,
.contenedor .Texto,
.contenedor .Slider{
  background: #202020;
  padding: 10px 10px;
  border-radius: 4px;
}

.contenedor .Menu {
  background: #202020;
  color: #fff;
  grid-column-start: 1;
  grid-column-end: -1;
}

.Menu ul {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10px 20px;
    list-style: none;
    justify-content:center center;
}

.Menu li a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 0px 25px 0px 0px;
}

.Menu img {
  max-height: 100%;
  min-height: 20%;
  width: 12%;
  display: center;
}

.Menu li a:hover {
  background: grey;
}

.contenedor .Texto{
   grid-column: span 2;
   box-sizing: border-box;
   display: flex;
    color:#ffffff;
    text-decoration: none;
}
.Texto{
  width: 510px;
  color: white;
  text-decoration: none;
}
.Texto p{
  margin: 4px;
  width: 0 0 5px 0;
}

.btn-link {
    color: #ffffff;
    text-decoration: none; 
  }
.card-body {
    -ms-flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    color: #ffff;
}


.contenedor .Slider {
  grid-column: 2/3;
  background-color: #202020;
  text-align: center;
  display: center;
  align-items: center;
  justify-content: center;
  width: 500px;
  grid-row: 2/3;
}

.Slider {
  width: 500px;
  margin: auto;
  overflow: hidden;
  position: right;
}

.Slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite;
}

.Slider li {
  width: 100%;
  list-style: none;
}

.Slider img {
  width: 100%;
  padding: 10px 20px;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.contenedor .Texto {
  grid-column: 1/2;
}

@media screen and (max-width: 768px) {
  .contenedor .Texto {
    grid-column: 1/-1;
  }

  .contenedor .Slider {
    grid-column: 1/-1;
  }
}

footer{
    width: 100%;
    background: #202020;
    color: white;   
    margin-top: 50px;
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 40px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

li .logo{
  width: 30px;
}

@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

