*{
    padding: 0;
    margin: 0;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    list-style: none; }

body{
    background-color: black;
    color: WHITE;
    font-family: 'Staatliches', cursive;
    
}


.contenedor{
        width: 95%;
        max-width: 1300px;
        margin: 10px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
}


.contenedor > div,
.contenedor .Menu,
.contenedor .Login,{
    background: white;
    padding: 10px 10px;
    border-radius: 4px;
}


.contenedor .Menu {
  background: #202020;
  color: #fff;
  grid-column-start: 1;
  grid-column-end: -1;
}

.Menu ul, li{
  display: inline-block;
  padding: 10px 20px;
  list-style: none;
  }

.Menu li a {
  text-decoration: none;
  color: white;
  display: block;
}

.Menu img {
  max-height: 100%;
  min-height: 20%;
  width: 12%;
  display: center;
}

.Menu li a:hover {
  background: #202020;
}

form {
    width: 450px;
    margin:auto;
    background: #202020;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 8px;
}
h2{
    color: #fff;
    text-align: center; 
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input,textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 19px;
    border: none;

}


textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
  .contenedor .Login {
    grid-column: 1/-1;
    width: 60% 
  }
  .contenedor .Menu{
    grid-column: 1/-1
  }
} 
